body {
    margin: 20px 0;
    padding: 20px;
    background: #690000;
    text-align: left;
    color: white;
    box-sizing: border-box;
}

#banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: darkred;
    padding: 20px 10px;
}

#username {
    font-size: 1.75rem;
}

#logo-text {
    text-align: center;
    letter-spacing: 2px;
}

.thumbnail {
    width: 100px;
    height: 150px;
    border: 3px solid gray;
    margin: 10px;
}

.thumbnail:hover, .thumbnail:focus {
    border: 3px solid white;
    cursor: pointer;
}

#welcome-message {
    display: block;
    margin: 0;
}

#sign-out-button {
    display: block;
    border: 1px solid white;
    margin: 0;
}

input[type="submit"], button {
    background: black;
    color: white;
    border: none;
    padding: 10px 75px;
    margin: 40px auto 10px auto;
}

input[type="submit"]:hover, button:hover {
    background: rgb(52, 52, 52);
    cursor: pointer;
}

@media (max-width: 590px) {
    #username {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    input[type="submit"], button {
        background: black;
        color: white;
        border: none;
        padding: 10px 55px;
        margin: 40px auto 10px auto;
    }

    #banner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        background: #8b0000;
        padding: 20px 10px;
    }
}

@media (max-width: 495px) {
    #username {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.125rem;
    }

    input[type="submit"], button {
        background: black;
        color: white;
        border: none;
        padding: 10px 55px;
        margin: 40px auto 10px auto;
    }
}

